 <div class="card-carga">
   <div class="img-wrapper">
     <%= image_tag  "https://via.placeholder.com/150/0000FF/808080?Text=Productos"%>
   </div>
   <div class="card-body">
     <h5>Productos Requeridos <%= cargo.requested_products %></h5>
     <h6>Productos Aceptados <%= cargo.accepted_products %></h6>
   </div>
   
</div>