<div class="top_navbar">
  <div id="nav_title">
    <h1>Importa Lista De Productos</h1>
  </div>
  <div class="navbar_menu">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <%=productos_page%>
      </li>
      <li class="nav-item">
        <%=dashboard_page%>
      </li>
    </ul> 
  </div>
</nav>